<p>rms-table works!</p>
<!-- Button to clear selection -->
<button (click)="clearSelection()">Clear Selection</button>
<button (click)="changePageSize()">Records per page to 100</button>
<button (click)="clearSelection()">Clear Selection</button>
<!-- AG Grid Angular Component -->
<ag-grid-angular
  style="width: 700px; height: 500px"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (filterOpened)="filterOpened($event)"
  (filterChanged)="onFilterChanged($event)"
  (filterModified)="onFilterModified($event)"
  (onRowClicked)="onRowClicked($event)"
  (sortChanged)="sortChanged($event)"
  [pagination]="pagination"
  [paginationPageSize] = "pageSize"
  [suppressPaginationPanel]="true"
  [suppressScrollOnNewData]="true"
></ag-grid-angular>
<div style="width: 700px">
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 50, 100]"
    [showFirstLastButtons]="true"
    (page)="pageChanged($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<!-- <button (click)="gotoFirstPage()">First Page</button>
 <button (click)="gotoPreviousPage()">Previous Page</button>
 <button (click)="gotoNextPage()">Next Page</button>
 <button (click)="gotoLastPage()">Last Page</button> -->

<!-- [pagination] = "pagination"
   [paginationPageSize]="paginationPageSize" -->
